h1 {font-size: 20px;
	font-family: Helvetica;
	text-align: center;
}

div {font-size: 18px;
	font-family: Helvetica;
	color: black;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

div img { align-items: center;
	width: 5000px;
		height: 400px;
		}
iframe {left: 0;
    top: 50%;
    width: 100%;
    
}