
h1 {text-align: left;
    background: url("img/background.gif");
background-size: cover;
    height: 600px;}

ul {padding: 10px 0px 10px 0px;
    color: rgba (0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

h1 {    text-align: center;
}
p {     text-align: center;
        font-size: 22px;
}
input {
        border: 0;
        padding: 10px;
        font-size: 18px;
}
input[type="Stay up to date"] {
     background: red;
     color: white;
   }
body {
        text-align: center;
        background-size: cover;
        background-position: center;
        color: white;
        font-family: helvetica}
